<section class="row row--border-bottom">
  <%= render @jobs, full_details: false %>
</section>

<section class="row row--border-bottom">
  <% @companies.each do |company| %>
    <article>
      <h1><%= link_to company.name, company %></h1>
    </article>
  <% end %>
</section>
