<% @jobs.each do |job| %>
  <article>
    <h1>
      <%= link_to job.title, job %>
    </h1>
    <% if job.featured %>
      <strong>Vaga em Destaque</strong>
    <% end %>
    <dl>
      <dt>Company</dt>
      <dd><%= job.company %></dd>
      <dt>Location</dt>
      <dd><%= job.location %></dd>
    </dl>
  </article>
<% end %>
