<section class="row row--border-bottom">
  <% @jobs.each do |job| %>
    <article>
      <h1>
        <%= link_to job.title, job %>
      </h1>
      <% if job.featured? %>
        <strong>Vaga em Destaque</strong>
      <% end %>
      <dl>
        <dt>Company</dt>
        <dd><%= job.company.try(:name) %></dd>
        <dt>Location</dt>
        <dd><%= job.location %></dd>
      </dl>
    </article>
  <% end %>
</section>

<section class="row row--border-bottom">
  <% @companies.each do |company| %>
    <article>
      <h1><%= link_to company.name, company %></h1>
    </article>
  <% end %>
</section>
