/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-size: 14px;
}

body{
  font-size: 1.2em;
}
.row{

}

.container{
  width: 1000px;
  margin: auto;
}

.row--border-bottom {
  border-bottom: 1px solid #000;
  margin-bottom: 1em;
}

.form-group + .form-group{
  margin-top: 1em;
}

.form-group label, .form-group input{
  display: inline-block;
}

.form-group label{
  width: 30%;
}

form input[type=submit], form button{
  margin-top: 1em;
}
